.dashboard {
    width: 100%;
    max-width: 709px;
}

.taskboard {
    margin: 0.5rem;
    max-width: 1375px;
    margin: 0 auto;
}

.taskboard::-webkit-scrollbar {
    width: .6rem;
}

.taskboard::-webkit-scrollbar-track {
    background-color: var(--body-color);
}

.taskboard::-webkit-scrollbar-thumb {
    background-color: white;
    border: 2px solid white;
    border-radius: .5rem;
}

@media screen and (min-width: 968px) {
    .tasks {
        flex-direction: row;
    }
}

@media screen and (min-width: 600px) {
    .taskboard {
        overflow-y: auto;
        height: 31rem;
    }
}